.navbar {
    width: 100%;
    height: 100px;
    background-color: #4b8fba;
    display: flex;
    flex-direction: row;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: auto;
  }
  

  

  
  